<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="token" value="abcde123" />
        <add key="afkChannel" value="0000" />
        <add key="role" value="0000" />
        <add key="pathS" value="path/folder/" />
        <add key="pathD" value="path/folder/" />
        <add key="channelId" value ="0000"/>
        <add key="guildId" value ="0000"/>
        <add key="interval" value ="0.0"/>
        <add key="blacklist" value="000;000;000"/>
    </appSettings>
</configuration>