<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="token" value="yourToken" />
        <add key="afkChannel" value="yourAfkChannelId" />
        <add key="role" value="yourRole" />
        <add key="pathS" value="yourStatPath" />
        <add key="pathD" value="yourDatePath" />
        <add key="channelId" value ="500714761227337751"/>
    </appSettings>
</configuration>